h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bold;
    font-size: 300%;

}
body {
    background-color: rgb(114, 236, 236);
}
.center {
    margin-left: 180px;
    margin-right: auto;
    display: block; 
}